<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mncomunity1">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--
     needed for older devices -
     used to check app background / foreground status
    -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- START Added for GCM -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.mncomunity1.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.mncomunity1.permission.C2D_MESSAGE" />

    <!-- END Added for GCM -->
    <application
        android:name=".IsmartApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.WithoutActionBar">
        <activity android:name=".activity.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- START Added for GCM -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.mncomunity1" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.MyGcmPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.GcmIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <!-- END Added for GCM -->

        <activity android:name=".activity.MyCourseActivity" />
        <activity android:name=".activity.MainActivityTap" />
        <activity android:name=".activity.AllCourseActivity" />
        <activity android:name=".activity.SeeAllCourseActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".activity.PhotoActivity" />
        <activity android:name=".activity.ListWebViewActivity" />
        <activity android:name=".activity.ListLayer1Activity" />
        <activity android:name=".activity.TrainCourseActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.AboutWebViewActivity" />
        <activity android:name=".activity.PhotoActivityMian" />
        <activity android:name=".activity.ForgetActivity" />
        <activity android:name=".activity.ListActivity" />
        <activity android:name=".activity.Share">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ChatRoomActivityOri"
            android:label="@string/title_activity_chat_room_discussion"
            android:parentActivityName=".activity.ChatRoomActivityOri"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ChatRoomActivityOri" />
        </activity>
        <activity
            android:name=".activity.ActivityUpdateToken"
            android:label="@string/title_activity_activity_update_token"
            android:theme="@style/AppTheme.WithoutActionBar"></activity>

    </application>

</manifest>
